* {
    font-family: "PokemonLight", Optima, Helvetica, sans-serif;
}

@font-face {
    font-family: "PokemonLight";
    src: local("PokemonLight"), url("../../assets/fonts/Pokemon-DP.ttf") format("truetype");
    font-weight: normal;
    font-display: block;
}

@font-face {
    font-family: "PokemonBold";
    src: local("PokemonBold"), url("../../assets/fonts/Pokemon-DP-Bold.ttf") format("truetype");
    font-weight: bolder;
    font-display: block;
}

:root {
    --red: #f00000;
    --normal: #A8A77A;
    --fire: #e98d47;
    --water: #6390F0;
    --electric: #FFE260;
    --grass: #7AC74C;
    --ice: #96D9D6;
    --fighting: #CE4069;
    --poison: #AB6AC8;
    --ground: #E2BF65;
    --flying: #A98FF3;
    --psychic: #F95587;
    --bug: #A6B91A;
    --rock: #B6A136;
    --ghost: #5269AC;
    --dragon: #6F35FC;
    --dark: #705746;
    --steel: #B7B7CE;
    --fairy: #EC8FE6;
    --pokemonRed: #f00000;
}

.red {
    background-color: var(--red);
    color: #fff;
}

.Normal {
    background-color: var(--normal);
    color: #fff;
}

.Fire {
    background-color: var(--fire);
    color: #fff;
}

.Water {
    background-color: var(--water);
    color: #fff;
}

.Electric {
    background-color: var(--electric);
    color: #000;
}

.Grass {
    background-color: var(--grass);
    color: #fff;
}

.Ice {
    background-color: var(--ice);
    color: #fff;
}

.Fighting {
    background-color: var(--fighting);
    color: #fff;
}

.Poison {
    background-color: var(--poison);
    color: #fff;
}

.Ground {
    background-color: var(--ground);
    color: #fff;
}

.Flying {
    background-color: var(--flying);
    color: #fff;
}

.Psychic {
    background-color: var(--psychic);
    color: #fff;
}

.Bug {
    background-color: var(--bug);
    color: #fff;
}

.Rock {
    background-color: var(--rock);
    color: #fff;
}

.Ghost,
.bg-shadow {
    background-color: var(--ghost);
    color: #fff;
}

.Dragon {
    background-color: var(--dragon);
    color: #fff;
}

.Dark {
    background-color: var(--dark);
    color: #fff;
}

.Steel {
    background-color: var(--steel);
    color: #fff;
}

.Fairy {
    background-color: var(--fairy);
    color: #fff;
}

.capitalize-first-letter {
    text-transform: capitalize;
}

.font-bold {
    font-family: "PokemonBold";
}

body {
    color: #000;
    margin: 0px;
    padding: 0px;
    background: url("../../assets/items/pokeball-pattern.png") top left repeat;
    background-attachment: fixed;
    background-size: 900px;
    background-color: red;
}

a {
    text-decoration: none;
}

.containerGlobal {
    min-height: 100%;
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.pagination-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: "PokemonLight";
}

.pagination {
    display: flex;
    padding: 0px 5px;
    list-style: none;
}

.pagination .numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    margin: 0px 5px;
    border-radius: 5px;
    background: rgb(246, 246, 246);
    color: #000;
    font-size: 1rem;
    font-family: "PokemonLight";
    cursor: pointer;
}

.pagination .numbers.active {
    background: #f00000;
    color: #fff;
}

.btn-pag {
    background: #f00000;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    padding: 0 10px;
    height: 45px;
}

.btn-pag.disabled {
    cursor: default;
    background: #455f8063;
}